* {
  padding: 0;
  margin: 0;
}

.menu {
  height: 80px;
  background-color: #164C81;
}

.menu h1 {
  width: 252px;
  height: 73px;
  left: calc(50% - 252px/2 - 489px);
  top: calc(50% - 73px/2 - 2.5px);

  font-family: 'K2D';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 73px;
  margin-left: 40px;

  /* identical to box height */

  color: #FFFFFF;

  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
  margin-top: 50px;
display: grid;
flex-direction: row;
justify-content: center;
align-items: center;
}

.title {
  text-align: center;
  
}

.title p {
    height: 141px;
    left: 32px;
    top: 67px;
    width: 800px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 30px;
    text-align: center;
}

span {
  color: #034383;
}

.youtube-video {
  width: 765px;
  height: 351px;
    background-color: #0D75DB;
    display: block;
    
}
.youtube-video img {
  height: inherit;
width: inherit;
}

.button {
  display: block;
  padding: 30px;
}

#idButton {
  margin-left: 200px;
}

.button-1 {
  background: #0D75DB;
  color: white;
  padding: 14px;
  border-radius: 7px;
  font-size: 20px;
  border: 0;
  margin-left: -30px;
}

.container-2 {
  margin-top: 50px;
  height: 522px;
display: grid;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: #F5F5F5;
}

.paragraphs p {
  width: 900px;
  font-family: 'Poppins';
  font-size: 32px;
  line-height: 30px;
  text-align: center;
  display: block;
  line-height: 30px;
  padding: 19px;
  height: 80px;}

.container-3 {
  margin-top: 50px;
  height: 800px;
  width: 100vw;
display: grid;
flex-direction: row;
justify-content: center;
align-items: center;
}

.bloco-centro {
  width: 900px;
  display: block;
  height: 600px;
}

.section-left {
   display: inline-block;
   width: 40%;
   height: 600px;
}
.section-left img {
  display: block;
margin-top: 100px;
position: relative;
z-index: -1;
height: 814px;
margin-left: -100px;
}

#div-title {
  width: 100vw;
  height: 150px;
  background-color: #F6F2F2;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 40px;
color: #18191F;
}
#div-title h1{ margin-top: 50px;
  padding: 61px 90px;
}
.section-right {
   display: inline-block;
   position: absolute;
   width: 50%;
   height: 600px;
}

.bloco-text {
  display: block;
  height: 400px;
  margin-top: 100px;
  margin-left: 50px;
}

.bloco-text h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 66px;
  color: #18191F;
}
.bloco-text h2 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 39px;
color: #5353F7;
margin-top: 10px;
}
.bloco-text p {
  width: 600px;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 33px;

color: #000000;

}
.container-4 {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
 background-color:  #F6F2F2;
 height: 800px;
 z-index: 1;
 position: relative;
 width: 100vw;
}

.container-4 h1 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
width: 100vw;
height: 132px;
color: #18191F;
padding: 50px 100px 0px;
display: block;
}
.title-bloco4 {
  display: block;
  width: 100vw;
  background-color: red;
}
.components {
  display: grid;
  margin-top: 50px;
}
.component {
  margin-bottom: 100px;
}
.rectangle {
  width: 550px;
  height: 260px;
  left: 1px;
  margin-left: 60px;
  background: #cce4fd;
  border-radius: 50px;
}
.rectangle h1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 38px;
width: 100vw;
margin-left:-50px;
color: #000000;
}
.rectangle h2{
  margin-top: -100px;
  margin-left: 45px;
  margin-bottom: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: #000000;
  width: 100vw;
  text-align: initial;
}
.image-rectangle {width: 115px;
  height: 93px;
  background: #cce4fd;
  border-radius: 50%;
  float: inline-end;
  margin-right: 36px;
  margin-top: -30px;}
.rectangle p{ 
  width: 500px;
margin-left: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #000000;
margin-top: -18px;
}
.polygon {
  width: 0;
height: 0;
margin-left: 50px;
border-left: 55px solid transparent;
border-right: 55px solid transparent;
border-top: 42px solid #cce4fd;
margin-top: 39px;
}

.container-perguntas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2EC5CE;
  height: 1400px;
  width: 100vw;
}
.perguntas {
  width: 80%;
left: 4px;
top: 2px;
background: #FFFFFF;
border-radius: 30px;
margin-bottom: 20px;
height: 220px;
}

.section-perguntas {
  display: grid;
  width: 100vw;
  margin-left: 188px;
}
#title-perguntas {
  background-color: white;
}

.perguntas h1 {
  padding: 15px;
font-size: 25px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 39px;
color: #18191F;
}

.perguntas p {
  padding: 15px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 28px;
color: #000000;
}

.container-section-final {
  display: flex;
flex-direction: row;
justify-content: center;
height: 900px;
}

.left {
  display: inline-block;
  width: 40%;
}
.left img {
  margin-top: 184px;
  height: 717px;
}

.right {
  display: inline-block;
  width: 60%;
}

.bloco-texto {
  width: 600px;
  height: 400px;
  padding: 51px 22px;
  display: block;
  margin-top: 131px;
}

.bloco-texto p {
  font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 33px;
color: #000000;
background: white;
margin-bottom: 20px;
}

.container-title {
  padding: 80px 76px;
margin-bottom: -150px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 40px;
color: #18191F;
background-color: #2EC5CE;
}
.container-title2 {
  padding: 80px 76px;
margin-bottom: -150px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 40px;
color: #18191F;
}
.trace {
  margin-top: 5px;
width: 266px;
height: 10px;
background-color: #2EC5CE;
}
.footer {
  background-color: #000000;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.elementos {
  margin-top: 20px;
}

#button-final {
  margin-left: -11px;
}